
#annotations #video, #video2, #img1, #talk1 {
  display: none;
}


body {
  margin: 0;
  padding: 0;

}

#hotspot-demo {
  height: 90vh;
  width: 100vw;
}

#error {
  background-color: #ffffffdd;
  border-radius: 16px;
  padding: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: opacity 0.3s;
}

#error.hide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 2s, opacity 1s 1s;
}

button {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(26, 101, 240);
  box-sizing: border-box;
}

button[slot="hotspot-mouth"] {
  --min-hotspot-opacity: 0;
  background-color: rgb(255, 0, 0);
}


button[slot="hotspot-arms"] {
  --min-hotspot-opacity: 0;
  background-color: rgb(255, 0, 0);
}

#annotation {
  background-color: #ffffff;
  position: absolute;
  transform: translate(10px, 10px);
  border-radius: 10px;
  padding: 10px;
}

button[slot="ar-button"] {
  background-color: white;
  border-radius: 4px;
  border: none;
  position: absolute;
  bottom: 16px;
  height: 100vh;
  width: 100vw;
  right: 50vw;
}
/* This keeps child nodes hidden while the element loads */
:not(:defined)>* {
  display: none;
}